/*@mixin heading ($color: black, $border-radius:false){
    text-transform: uppercase;
    font-size: 2.4rem;
    color: $color;
    letter-spacing: 1px;

    @if $border-radius {
        border-radius: 1rem;
        background-color: v.$negro;
    }
} */
@use 'variables' as v;
@mixin tamano($tamano: v.$pc) {
    @media(min-width: $tamano){
        @content;
    }
}
//otra forma de aplicar media query
@mixin tamano2($tamano2: v.$pc){
    @media(max-width: $tamano2){
        @content;
    }
}
@mixin grid($columnas:2,$gap:5rem){
    gap: $gap;
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
}
@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}